on boot
    chown system system /sys/class/qcom-battery/restrict_cur
    chown system system /sys/class/qcom-battery/restrict_chg
    chmod 664 /sys/class/qcom-battery/restrict_cur
    chmod 664 /sys/class/qcom-battery/restrict_chg

service vendor.fastcharge-hal-1-0 /vendor/bin/hw/vendor.lineage.fastcharge@1.0-service.xiaomi
    class hal
    user system
    group system
